<h2>Search Result </h2>

<table class="table table-striped col-md-12" id="sear">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Overview</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
    <% @search.each do |movie| %>
      <tr>
        <td>
          <%= movie.original_title %>
        </td>
        <% if movie.adult == false %>
            <% rate = "G" %>
            <td>
                <%= "#{rate}" %>
            </td>
        <% else %>
            <% rate = "R" %>
            <td>
                <%= "#{rate}" %>
            </td>
        <% end %>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= movie.overview %>
        </td>
        <td>
          <%# <%= "Add #{movie.original_title} to Categlory "%>
          <%= link_to "Add #{movie.original_title} to Category", movies_path(movie: { title: movie.original_title, rating: rate, release_date: movie.release_date }), method: :post %>  
        </td>
      </tr>
       
    <% end %>
  </tbody>
</table>

<%= link_to 'Cancel', movies_path, class: 'btn btn-secondary' %>
